= partial :logo

!!!
!!! XML
!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", 'xml:lang' => "en" }
  %head
    %title= page_title
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=iso-8859-1"}/
    %meta{'http-equiv'=>"Content-Language", :content=>"en-us"}/
    %link{:href=>"/stylesheets/demo.css", :media=>"screen", :rel=>"stylesheet", :type=>"text/css"}/
  %body{bodyselectors}
    #wrap.container
      #header
        - unless @bodyid == "demo"
          %h1
            = link_to("view", "/", "framer")
            \/ demo
        <a href="http://github.com/seaofclouds/framer"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png" alt="Fork me on GitHub" /></a>
      = yield
    = partial :tools if @showtools
    :plain
      <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
      try {
      var pageTracker = _gat._getTracker("UA-7980623-2");
      pageTracker._trackPageview();
      } catch(err) {}</script>