%h2 Use lorem ipsum for placeholder text
  
.demo.container
  .example
    %h3= lorem(:title, 2)
    %p
      by
      = name(:full)
      (#{name(:user)})
    = lorem(:paragraph, 3)
  .snippet
    %textarea
      :plain
        %h3= lorem(:title, 2)
        %p
          by
          = name(:full)
          = name(:user)
        = lorem(:paragraph, 3)  